<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /admin/json/index.php [L]
</IfModule>

AddDefaultCharset WINDOWS-1251

AddDefaultCharset UTF-8